parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    paths:
        - src/
    level: max

includes:
    - phpstan-baseline.neon
